:root {
  /* Fonts */
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  /* Colors */
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --slate: #434455;
  --white: #ffffff;
  --ocean: #404bbf;
  --green: #31d0aa;
}

body {
  color: var(--slate);
  background-color: var(--white);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-header {
  color: var(--navy-blue);
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.hero {
  background-color: var(--navy-blue);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}

.btn-off {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}

.btn-off:hover,
.btn-off:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/* Section 3 */
.section-team {
  background-color: var(--cloud);
}
.team-card {
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Footer */
footer {
  background-color: var(--navy-blue);
}
.logo-footer {
  color: var(--cloud);
}
.link:focus,
.link:hover {
  color: var(--ocean);
}
.footer-text {
  color: var(--cloud);
}
